$dark-navy: #242742;
$pale-navy: #36384d;
$base-white: #ffffff;
$light-grey: #9294a0;
$vermellion: #ff6155;
$vermellion-transparent: #f6c1bd72;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $pale-navy;
}

.newsletter {
  background-color: $base-white;
  height: 100%;

  &__image--mobile {
    width: 100%;
    margin-bottom: 40px;
  }

  &__image--desktop {
    display: none;
  }

  &__details {
    font-size: 16px;
    padding: 0 24px;
  }

  &__details--title,
  &__details--intro,
  &__details--pros,
  &__cdetails--ontact {
    color: $pale-navy;
  }

  &__details--title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__details--intro {
    margin-bottom: 24px;
  }

  &__details--pros {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 40px;
  }

  &__details--pro {
    display: flex;
    align-items: center;
    margin-bottom: 11px;

    &-icon {
      margin-right: 16px;
      border-radius: 50%;
      background-color: $vermellion;
      background-image: linear-gradient(
        to bottom,
        #ff6a3a,
        #ff614b,
        #ff5a5c,
        #ff556b,
        #ff527b
      );
    }
  }

  &__details--contact {
    display: flex;
    flex-direction: column;
  }

  &__details--email {
    color: $dark-navy;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__details--input {
    padding: 20px 25px;
    border: 1px solid $light-grey;
    border-radius: 8px;
    margin-bottom: 24px;
    color: $pale-navy;
    font-size: 16px;

    &::placeholder {
      color: $light-grey;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }

  &__details--button {
    color: $base-white;
    background-color: $dark-navy;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 24px;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    :focus {
      background-color: $vermellion;
      background-image: linear-gradient(
        to bottom,
        #ff6a3a,
        #ff614b,
        #ff5a5c,
        #ff556b,
        #ff527b
      );
      box-shadow: 0px 10px 26px -10px rgba(0, 0, 0, 0.61);
      transition: 0.5s all ease;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }
  .newsletter {
    max-width: 928px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    align-items: center;

    &__image--mobile {
      display: none;
    }

    &__image--desktop {
      display: block;
      padding: 24px 24px;
    }

    &__details {
      padding: 0 64px;

      &__details--pros {
        width: 380px;
      }
    }
  }
}

.success {
  background-color: $base-white;
  height: 100vh;
  padding: 10rem 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__icon {
    height: 100px;
    align-self: baseline;
    margin-bottom: 4rem;
  }

  &__title {
    font-size: 42px;
    color: $pale-navy;
    margin-bottom: 24px;
  }

  &__copy {
    color: $pale-navy;
    line-height: 24px;
    margin-bottom: 10rem;

    & .email {
      color: $dark-navy;
      font-weight: 700;
    }
  }

  &__button {
    color: $base-white;
    background-color: $dark-navy;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 24px;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;

    &:hover,
    :focus {
      background-color: $vermellion;
      background-image: linear-gradient(
        to bottom,
        #ff6a3a,
        #ff614b,
        #ff5a5c,
        #ff556b,
        #ff527b
      );
      box-shadow: 0px 10px 26px -10px rgba(0, 0, 0, 0.61);
      transition: 0.5s all ease;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

@media screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
  }

  .success {
    max-width: 450px;
    max-height: 450px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    position: relative;

    &__icon {
      height: 50px;
      align-self: baseline;
      margin-bottom: 0;
      position: absolute;
      top: 48px;
    }

    &__title {
      padding-top: 5rem;
    }

    &__copy {
      margin-bottom: 40px;
    }
  }
}

.hidden {
  display: none;
}

.form__labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .error__message {
    color: $vermellion;
    font-weight: 700;
  }
}

.input-error {
  background-color: $vermellion-transparent;
  border: 1px solid $vermellion;
  color: $vermellion;
}
